@model BTL_TTCMWeb.Models.tbl_product

@{ ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.js"></script>
<style src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.min.css"></style>
<style>
    #star-rating > img {
        width: 25px !important;
    }
    .product-image {
        /* Thêm thuộc tính opacity để làm mờ hình ảnh */
        opacity: 0.4;
    }

    /* Hiển thị label "Hết hàng" khi sản phẩm hết hàng */
    .sold-out-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -150%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        font-size: 18px;
    }

    .viw {
        position: absolute;
        background: #eee;
        padding: 0.5em 2em;
        font-size: .9em;
        font-weight: 500;
        top: 35%;
        left: 20%;
        display: none;
    }

    .feature-grid img {
        padding: 0
    }
</style>

@*Chi tiết sản phẩm*@
<input type="hidden" value="@Model.product_id" id="productId" />
<input type="hidden" id="productColor" />
<div class="product" style="padding-top: 0px">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "User")">Trang chủ</a></li>
            <li class="active">Chi tiết sản phẩm</li>
        </ol>
        <div class="product-price1">
            <div class="top-sing" style="margin-bottom:50px">
                <div class="col-md-7 single-top">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="@Model.product_img">
                                <div class="thumb-image" style="margin-bottom:40px"> <img src="@Model.product_img" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                            </li>
                            <li class="para">@Model.product_description</li>
                        </ul>
                    </div>
                    <script src="~/Scripts/imagezoom.js"></script>
                </div>
                <div class="col-md-5 single-top-in simpleCart_shelfItem">
                    <div class="single-para" style="font-size:20px;">
                        <div class="form-group">
                            <div class="col-md-10" style="text-align:center; font-weight:bold; padding-bottom: 20px">
                                <h1><b>@Model.product_name</b></h1>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Giá sản phẩm : </label>
                            <div class="col-md-8" style="padding-left:0px">
                                <div class="col-md-3"><span class="item_price" id="priceProduct" style="color:#EC7A5C; font-weight:bold; margin:0.5em 0;"></span></div>
                                <div class="col-md-3"><span id="priceProductBeforeSale" style="font-weight:bold; margin:0.5em 0; text-decoration:line-through; display:block"></span></div>
                                <div class="col-md-3"><span id="discount" style="color:red;font-weight:bold; margin:0.5em 0; display:block"></span></div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Số lượng hàng còn : </label>
                            <div class="col-md-6">
                                <div id="amountProduct" style="margin:0.5em 0;"></div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Màu sắc : </label>
                            <div class="col-md-6">
                                @if (Model.tbl_productColor.Count > 0)
                                {
                                    <select class="form-control" onchange="changeColor()" id="cbbColor" style="margin:0.5em 0; width:200px;">
                                        @foreach (var item in Model.tbl_productColor.Select(x => x.tbl_color).Distinct())
                                        {
                                            <option value="@item.color_id">@item.color_name</option>
                                        }
                                    </select>}
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Kích thước : </label>
                            <div class="col-md-6">
                                @if (Model.tbl_productColor.Count > 0)
                                {
                                    <div id="ViewCbbSize" style="margin:0.5em 0; width:200px; display:block">@Html.Action("cbbSize", "User", new { productId = Model.product_id, colorId = Model.tbl_productColor.Select(x => x.tbl_color).Distinct().First().color_id })</div>}
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Nhập số lượng : </label>
                            <div class="col-md-6">
                                <input style="margin-top: 10px; margin-bottom: 0px; width: 200px; display: block" type="number" min="1" max="Max(b)" class="item_quantity form-control" value="1" id="quantityCart" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin:0.5em 0;">Đánh giá sản phẩm: </label>
                            <div class="col-md-6" style="margin-top: 1.5%;">
                                <div id="star-rating">
                                    <input type="hidden" name="rating-value" id="rating-value" value="0">
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="abc">

                    </div>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>



    <h3 style="text-align:center;margin-top:100px">Sản phẩm đề xuất</h3>
    @*5 sản phẩm ngẫu nhiên bên dưới*@
    @*product sugget*@
    <div class="bottom-prdt product-wrap">
        <div class="btm-grid-sec row">

            @{ var listSuggestProduct = Session["listSuggestProduct"] as List<BTL_TTCMWeb.Models.user.ProductColor.product_Color>;

                foreach (var item in listSuggestProduct)
                {
                    <div class="col-md-2 btm-grid feature-grid">
                                    <a href="@Url.Action("ProductDetail","User", new { id=item.product_id })">
                                        @if (item.amount <= 0)
                                        {
                                            <img class="product-image" src="@item.product_img" alt="" style="width: 289.15px !important; height: 285.15px !important;" />
                                            <div class="sold-out-label">Hết hàng</div>
                                        }
                                        else
                                        {
                                            <img src="@item.product_img" alt="" style="width: 289.15px !important; height: 285.15px !important;" />
                                        }
                                        <div class="arrival-info">
                                            <p style="text-align:center">@item.product_sub_info</p>
                                            @if (item.amount > 0)
                                            {
                                                <p style="text-align:center; color:red">@item.gia</p>}

                                            @if (item.product_isSale == true)
                                            {
                                                <h1 style="color:red; font-size:20px; position: absolute; top: 20px; right: 50px; background: cornsilk;">Sale</h1>}

                                        </div>
                                        <div class="viw">
                                            <a href="@Url.Action("ProductDetail","User", new { id = item.product_id })"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Xem chi tiết</a>
                                        </div>
                                    </a>
                    </div> } }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    var amountProduct = 0;
    function Load() {
        if ($("#quantityCart").val() <= amountProduct) {
            $("#total").css("color", "red");
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddToCart", "User")',
                data: { productColorId: $("#productColor").val(), quantity: $("#quantityCart").val(), chinh_sua: false},
                success: function (result) {
                    window.location.href = '@Url.Action("checkout", "User")';
                }
            });
        } else return alert("Số lượng tồn kho không đủ so với số lượng yêu cầu");

    }

    //Khi click vào thêm vào giỏ hàng
    function addToCart() {
        if ($("#quantityCart").val() <= amountProduct) {
            $("#total").css("color", "red");
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddToCart", "User")',
                data: { productColorId: $("#productColor").val(), quantity: $("#quantityCart").val(), chinh_sua: false}
            });
        } else {
            return alert("Số lượng tồn kho không đủ so với số lượng yêu cầu");
        }
    }
    //Tìm sản phẩm khi thay đổi màu
    function changeColor() {
        var productId = $("#productId").val();
        var colorId = $("#cbbColor").val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("cbbSize", "User")',
            data: {productId: productId, colorId: colorId},
            success: function (result) {
                document.getElementById("ViewCbbSize").innerHTML = result;
                var id = $("#productId").val();
                var size = $("#cbbSize").val();
                var color = $("#cbbColor").val();
                let table = '';
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getProductColor", "User")',
                    data: {productId: id, colorId: color,size: size},
                    success: function (result) {
                        if (result.amount == 0) {
                            result.amount = "Hết hàng"
                            table = table + '<h4 style="margin-top: 50px;padding-left: 15px; color:red">Vui lòng liên hệ 0978594932 để đặt trước</h4>';
                        } else {
                            table = table + '<a href="#" onclick="addToCart()" class="add-cart item_add" style="margin-top: 50px">THÊM VÀO GIỎ HÀNG</a>';
                            table = table + '<a href="#" onclick="Load()" class="add-cart item_add" style="margin-top: 50px">BÁN HÀNG</a> ';
                        }
                        $("#priceProduct").text('$'+result.price);
                        $("#amountProduct").text(result.amount);
                        amountProduct = result.amount;
                        $("#productColor").val(result.productColorId);
                        $("#discount").text(result.discount);
                        $("#priceProductBeforeSale").text(result.priceBefore);
                        document.getElementById('abc').innerHTML = table;
                    }
                });
            }
        });
    }

    //Tìm sản phẩm khi thay đổi kích thước
    function changeSize() {
                var id = $("#productId").val();
                var size = $("#cbbSize").val();
                var color = $("#cbbColor").val();
                var table = '';
                $.ajax({
                    type: 'GET',
                    url: '/User/getProductColor',
                    data: {productId: id, colorId: color,size: size},
                    success: function (result) {
                        if (result.amount == 0) {
                            result.amount = "Hết hàng"
                            table = table + '<h4 style="margin-top: 50px;padding-left: 15px; color:red">Vui lòng liên hệ 0978594932 để đặt trước</h4>';
                        } else {
                            table = table + '<a href="#" onclick="addToCart()" class="add-cart item_add" style="margin-top: 50px">THÊM VÀO GIỎ HÀNG</a>';
                            table = table + '<a href="#" onclick="Load()" class="add-cart item_add" style="margin-top: 50px">BÁN HÀNG</a> ';
                        }
                        $("#priceProduct").text('$' + result.price);
                        $("#amountProduct").text(result.amount);
                        amountProduct = result.amount;
                        $("#productColor").val(result.productColorId);
                        $("#discount").text(result.discount);
                        $("#priceProductBeforeSale").text(result.priceBefore);
                        document.getElementById('abc').innerHTML = table;
                    }
                });
    }
    $("#quantityCart").change(function () {
        document.getElementById('quantityCart').max = parseInt($("#amountProduct").text());
    });
    //Khi load chi tiết sản phẩm
    $(window).load(function () { /*code here*/
        var id = $("#productId").val();
        var size = $("#cbbSize").val();
        var color = $("#cbbColor").val();
        var table = '';
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getProductColor", "User")',
            data: { productId: id, colorId: color, size: size },
            success: function (result) {
                if (result.amount == 0) {
                    result.amount = "Hết hàng"
                    table = table + '<h4 style="margin-top: 50px;padding-left: 15px; color:red">Vui lòng liên hệ 0978594932 để đặt trước</h4>';
                } else {
                    table = table + '<a href="#" onclick="addToCart()" class="add-cart item_add" style="margin-top: 50px">THÊM VÀO GIỎ HÀNG</a>';
                    table = table + '<a href="#" onclick="Load()" class="add-cart item_add" style="margin-top: 50px">MUA NGAY</a> ';
                }
                $("#priceProduct").text('$' + result.price);
                $("#amountProduct").text(result.amount);
                amountProduct = result.amount;
                $("#productColor").val(result.productColorId);
                $("#discount").text(result.discount);
                $("#priceProductBeforeSale").text(result.priceBefore);
                document.getElementById('abc').innerHTML = table;
            }
        });
    });
    $.fn.raty.defaults.path = 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/images/';
    $('#star-rating').raty({
        click: function (score, evt) {
            $('#rating-value').val(score);
            // Xử lý khi người dùng chọn số sao
        }
    });
</script>